<div class="container">
        <div class="row">
        <div class="col">
<nav> 
	<a routerLink= "/dashboard">Overzicht</a>
	<a routerLink= "/users">Users</a>
	<a routerLink= "/Vragenlijst">Vraag Aanmaken</a>
	<a routerLink= "/vragen">Vragen</a>
	<a routerLink="/gegevens">Gegevens</a>
	<a routerLink="/CreeerStudent">Student Aanmaken</a>
            </nav></div></div><br>

         <div class="row"></div>
        <div class="col"></div>

<h2>My Users</h2>
<p>{{yoyo}}</p>
<ul class="users">
  <li *ngFor="let user of users">
    <a routerLink="/detail/{{user.id}}">
      <span class="badge">{{user.id}}</span>{{user.gebruikersnaam}}
      </a>
  </li>
</ul>
</div>