<div class="container">
	
	<h1>Login User</h1>
	<form #LoginForm="ngForm">
		<div class="form">
			<label for="name">Emailadres</label>
			<br><input type="text" class="form-control" id="name" required   name="emailadres" (keyup) = "onKey($event)"><br>
		</div>

		<div class="form">
			<label for = "wachtwoord">Wachtwoord</label>
			<br><input type="password" class="form-control" id="wachtwoord" required (keyup) = "onKeyww($event)">

			<br><button type="submit" class="globalbutton" (click)="onClick($event)"> Login</button>
		</div>
	</form>

</div>
