

.container	input[type="text"], input[type="password"], input[placeholder]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    width: 90%;
    color: #fff;
    font-size: 20px;
    text-align: center;

}

label {
	font-size: 20px;
    color: #fff;
}