<h3>Top Vragen</h3>
<div class="grid grid-pad">
  <a *ngFor="let vraag of vragen" class="col-1-4"
      routerLink="/detail/{{vraag.id}}">
    <div class="module vraag">
      <h4>{{vraag.contentvraag}}</h4>
    </div>
  </a>
<div>
    <h1> Welkom  </h1>

    <div class = "header">
        <nav>
            <a routerLink="/NAW" routerLinkActive="active">NAW gegevens</a>
            <a routerLink="/Vraag" routerLinkActive="active">Vragen</a>
        </nav>
    </div>
</div>

<div>
    <button (click)="onClick($event)">Ophalen vraag</button>
    {{vraag}}
    {{antwoord}}
</div>