
<div class="container">
  <div class="row">
  <div class="col">
<nav> 
<a routerLink= "/dashboard">Overzicht</a>
<a routerLink= "/users">Users</a>
<a routerLink= "/Vragenlijst">Vraag Aanmaken</a>
<a routerLink= "/vragen">Vragen</a>
<a routerLink="/gegevens">Gegevens</a>
<a routerLink="/CreeerStudent">Student Aanmaken</a>
      </nav></div></div><br>

   <div class="row"></div>
  <div class="col"></div>
<div class="grid grid-pad">
<a *ngFor="let user of users" class="col-1-2"
routerLink="/detail/{{user.id}}">
<div>
<button class="globalBIGbutton">{{user.gebruikersnaam}}</button>
</div>
<br>
</a>
</div>
<div><br><br><br><br><br><br><br><br></div>
<!--<app-user-search></app-user-search>-->
<div>
</div>
</div>

