
.container {
    width: 80%;
    height: 100%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 5% 70px;
    background: rgba(111, 86, 122, 0.9)

}

.container  input[type="text"], input[type="password"], input[type="date"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 30px;
    width: 50%;
    color: #fff;
    font-size: 20px;
    text-align: center;

}


table {
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;
    color:#fff;
   
}
td {
    width: 20%;
    border-bottom: .5px solid lightgrey;
}

tr {
    width: 20%;
}

h1 {
    font-size: 50px;
    color: #fff;
    margin-bottom: 10px;
    opacity: 1;
    margin-top: 0px;
    margin-bottom: 50px;

}

button {
    border: none;
    outline: none;
    height: 40px;
    width: 90%;
    background: #fff;
    color: #000;
    font-size: 18px;
    margin-top: 20px;

}

