<nav>
        <a routerLink="/NAW">NAW gegevens</a>
        <a routerLink="/OverzichtNAW">Overzicht gegevens</a>
        <a routerLink="/Vraag">Vragen</a>
        <a routerLink="/OverzichtVraag">Overzicht Vraag en Antwoord</a>
</nav>

<div class="container">
    
    <h1>Overzicht NAW Gegevens</h1>


    <div>

        <table class="Overzicht">
            <tr>
                <td>Voornaam</td>
                <td>{{this.globalservice.gebruiker.voornaam}}</td>
            </tr>
            <tr>
                <td>Tussenvoegsel</td>
                <td>{{globalservice.gebruiker.tussenvoegsel}}</td>
            </tr>
            <tr>
                <td>Geslacht</td>
                <td>{{globalservice.gebruiker.geslacht}}</td>
            </tr>
            <tr>
                <td>Geboortedatum</td>
                <td>{{globalservice.gebruiker.geboortedatum}}</td>
            </tr>
            <tr>
                <td>Huisnummer</td>
                <td>{{globalservice.gebruiker.huisnummer}}</td>
            </tr>
            <tr>
                <td>Straat</td>
                <td>{{globalservice.gebruiker.straat}}</td>
            </tr>
            <tr>
                <td>Postcode</td>
                <td>{{globalservice.gebruiker.postcode}}</td>
            </tr>
            <tr>
                <td>Woonplaats</td>
                <td>{{globalservice.gebruiker.woonplaats}}</td>
            </tr>
            <tr>
                <td>LinkedIn Adres</td>
                <td>{{globalservice.gebruiker.linkedinadres}}</td>
            </tr>
            <tr>
                <td>Github Adres</td>
                <td>{{globalservice.gebruiker.githubadres}}</td>
            </tr>
        </table>
        <br><button type="submit" class="button" (click)="onClick($event)"> Verder naar vragen </button>
    </div>

</div>
            