
<div class="container">
		<div class="row">
				<div class="col"></div>
			<div class="col-*-8">
		  <nav> 
		  <a routerLink= "/dashboard">Overzicht</a>
		  <a routerLink= "/Vragenlijst">Vraag Aanmaken</a>
		  <a routerLink="/CreeerStudent">Student Aanmaken</a>
		  <a routerLink="/DashAdmin/StudentenOverzicht">Studenten</a>
				</nav></div>  <div class="col"></div></div><br>
		  
			 <div class="row"></div>
			<div class="col"></div>
		  
    
    <h1>Studentenoverzicht</h1>

    	<ul *ngFor= "let deelnemer of deelnemers">
		<li> {{deelnemer.voornaam}} {{deelnemer.tussenvoegsel}} {{deelnemer.achternaam}} <button type="text" (click)= onClickExporteer(deelnemer)>Exporteer als Word</button><button type="text" (click)= onClickDoorverwijzen(deelnemer)>Studentenpagina</button></li>
	</ul>
</div>
            