<div class="container">
        <div class="row">
        <div class="col">
<nav> 
	<a routerLink= "/dashboard">Overzicht</a>
	<a routerLink= "/users">Users</a>
	<a routerLink= "/Vragenlijst">Vraag Aanmaken</a>
	<a routerLink= "/vragen">Vragen</a>
	<a routerLink="/gegevens">Gegevens</a>
	<a routerLink="/CreeerStudent">Student Aanmaken</a>
            </nav></div></div><br>

         <div class="row"></div>
        <div class="col"></div>

<div *ngIf="user">
    <h2>{{user.gebruikersnaam | uppercase}} Details</h2>
    <div><span>id: </span>{{user.id}}</div>
    <div>
      <label>gebruikersnaam:
        <input [(ngModel)]="user.gebruikersnaam" placeholder="gebruikersnaam"/>
      </label>
    </div>
    <button (click)="goBack()">go back</button>
  </div>
</div>