<div class="container">
        <div class="row">
        <div class="col">
<nav> 
	<a routerLink= "/dashboard">Overzicht</a>
	<a routerLink= "/users">Users</a>
	<a routerLink= "/Vragenlijst">Vraag Aanmaken</a>
	<a routerLink= "/vragen">Vragen</a>
	<a routerLink="/gegevens">Gegevens</a>
	<a routerLink="/CreeerStudent">Student Aanmaken</a>
            </nav></div></div><br>

         <div class="row"></div>
        <div class="col"></div>
	
	<h1>Vragenlijst</h1>
		<p>Maak hier een nieuwe vraag aan.</p>

		<form #Vragenform="ngForm">
			<div class="form">
				<label for="id">ID</label>
				<input type="text" class="form-control" id="id" required name="id" (keyup) = "onKeyID($event)"><br><label for="vraag">Vraag</label>
				<input type="text" class="form-control" id="vraag" required   name="vraag" (keyup) = "onKey($event)">
				<button type="submit" class="button" (click)="onClick($event)"> Opslaan </button>
		</div>
	</form>


<div class = "avatar">
</div>
</div>