<nav>
		<a routerLink="/NAW">NAW gegevens</a>
		<a routerLink="/OverzichtNAW">Overzicht gegevens</a>
		<a routerLink="/Vraag">Vragen</a>
		<a routerLink="/OverzichtVraag">Overzicht Vraag en Antwoord</a>
</nav>


<div class="container">
	
	<h1> Vraag</h1>
	<form #NAWForm="ngForm">
		<div class="form">

			<label for="vraag1">{{vraagcontent}}</label><br><br>
			<textarea rows="6" cols="100" type="text" class="form-control" id="antwoord1" required   name="antwoord1" (keyup) = "onKey($event)"></textarea><br>
			<br><button type="submit" class="button" (click)="onClick($event)"> Opslaan</button>
		</div>
	</form>
</div>