body {
	background-image: url(C:\Users\marjo\Angular\ProfielenApp\src\assets\Images\achievement-agreement-arms-1068523.png);
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Titillium Web', sans-serif;
	text-align: center;
	color: white;
}