

h1 {
	font-size: 50px;
	color: #fff;
	margin-bottom: 10px;
	opacity: 1;
	margin-top: 0px;
	margin-bottom: 50px;

}


.container	input[type="text"], input[type="password"], input[placeholder]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    width: 90%;
    color: #fff;
    font-size: 30px;
    text-align: center;

}

.button {
    border: none;
    outline: none;
    height: 40px;
    width: 90%;
    background: #fff;
    color: #000;
    font-size: 18px;
    margin-top: 20px;

}



.avatar {
	/*background-image: url("C:\Users\marjo\Angular\ProfielenApp\src\assets\Images\logoQienTrans.png");*/
	width: 130px;
    height: 100px;
    border-radius: 0%;
    object-position: absolute;
    text-align: center;

}
label {
	font-size: 20px;
}